<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:arg name="use_ros2_control" default="true"/>

    <xacro:include filename="package://wd_description/urdf/robot_desc.xacro" />

    <!-- Switch between ros2_control and Gazebo integrated diff-drive control -->
    <xacro:if value="$(arg use_ros2_control)">
        <xacro:include filename="package://wd_control/urdf/ros2_control.xacro"/>
    </xacro:if>
    <xacro:unless value="$(arg use_ros2_control)">
        <xacro:include filename="package://wd_simulation/urdf/gazebo_control.xacro"/>
    </xacro:unless>

    <xacro:include filename="package://wd_simulation/urdf/sensors.xacro"/>

</robot>